---
import HeaderImage from "./HeaderImage.astro";
---

<style lang="scss">
  @import "Header.scss";
</style>

<header class="section-layout hero-section">
  <div class="section-container hero-content">
    <h1 class="hero-title">
      Serverless <span class="gradient-text" data-color="blue">Forms</span
      ><br />Made <span class="gradient-text" data-color="blue">Easy.</span>
    </h1>
    <p class="hero-text">
      Adding forms to Websites has never been so easy. A simple, serverless
      solution to add forms.
    </p>
    <HeaderImage />
  </div>
</header>

<style lang="scss">
  @import "Header.scss";
</style><style lang="scss">
  @import "Header.scss";
</style><style lang="scss">
  @import "Header.scss";
</style><style lang="scss">
  @import "Header.scss";
</style><style lang="scss">
  @import "Header.scss";
</style>
