---
import WhatsHoldingImage from "./WhatsHoldingImage.astro";
---

<style lang="scss">
  @import "./WhatsHolding.scss";
</style>

<section class="section section-layout">
  <div class="section-container">
    <h2 class="section-heading">What's holding you?</h2>
    <p class="section-text whats-holding__text">
      Forms have never been fun. Now there is no checking for email, or your
      CMS. Get instant responses directly on the app you love - in a reliable
      way.
    </p>
    <WhatsHoldingImage />
  </div>
</section>

<style lang="scss">
  @import "./WhatsHolding.scss";
</style><style lang="scss">
  @import "./WhatsHolding.scss";
</style><style lang="scss">
  @import "./WhatsHolding.scss";
</style><style lang="scss">
  @import "./WhatsHolding.scss";
</style><style lang="scss">
  @import "./WhatsHolding.scss";
</style>
