---
import FormsDeckLogoName from "../../components/assets/FormsDeckLogoName.astro";
---

<style lang="scss">
  @import "Nav.scss";
</style>

<nav class="navbar">
  <div class="section-layout">
    <div class="section-container">
      <FormsDeckLogoName />
    </div>
  </div>
</nav>

<style lang="scss">
  @import "Nav.scss";
</style><style lang="scss">
  @import "Nav.scss";
</style><style lang="scss">
  @import "Nav.scss";
</style>
